*.swp
.attic/
.venv
.envrc
configs/rendered/*
secret.key
.secret.key
.envrc
.envrc.enc
.envrc.saved
.venv
.*.key
.haproxy.cfg
*-*-*-*.service
.haproxy.cfg
unit_files/
.Dockerfile .Dockerfile.all .Dockerfile.base .Dockerfile.base_rpms
.Dockerfile*
