define command {
    command_name    okc-check_tcp
    command_line    $USER1$/check_tcp -H 127.0.0.1 -p 22 -w 5 -c 10
}
define command {
    command_name    okc-check_disk
    command_line    $USER1$/check_disk -w 500 -c 1000 -m -p /
}
define command {
    command_name    okc-check_local_systemd_service
    command_line    $USER1$/check_systemd_service.sh $ARG1$
}
define command {
    command_name    okc-check_tcpcount
    command_line    $USER1$/check_tcpcount $ARG1$
}
define command {
    command_name    okc-check_procs
    command_line    $USER1$/check_procs $ARG1$
}
define command {
    command_name    okc-check_naemon
    command_line    $USER1$/check_nagios -F /var/lib/naemon/status.dat -e 5 -C naemon
}
define command {
    command_name    okc-check_mailq
    command_line    $USER1$/check_mailq $ARG1$
}
define command {
    command_name    okc-check_package_updates
    command_line    $USER1$/check_package_updates $ARG1$
}
define command {
    command_name    okc-check_firewall_active
    command_line    $USER4$ $USER1$/check_firewall_active.sh $ARG1$
}
define command {
    command_name    okc-list_interfaces
    command_line    $USER1$/check_ifoperstate -l
}
define command {
    command_name    okc-check_eth0_interface_state
    command_line    $USER1$/check_ifoperstate -I eth0
}
define command {
    command_name    okc-get_network_stat
    command_line    $USER1$/okc-get_network_stat $ARG1$
}
define command {
    command_name    okc-check_disks
    command_line    $USER1$/check_disks.pl
}
define command {
    command_name    okc-check_public_websites
    command_line    $USER1$/check_http_multi -u https://google.com -u https://yahoo.com
}
define command {
    command_name    okc-bubblewrap_check_public_websites
    command_line    $USER4$ $USER2$/bwrap_exec_with_network.sh $USER1$/check_http_multi -u https://google.com -u https://yahoo.com
}
define command {
    command_name    okc-bubblewrap_check_ping
    command_line    $USER4$ $USER2$/bwrap_exec_with_network.sh $USER1$/check_ping -H 4.2.2.1 -4 -w 3000.0,80% -c 5000.0,100% -p 1
}
define command {
    command_name    okc-display_alternatives_ansible
    command_line    update-alternatives --display ansible
}
define command {
    command_name    okc-display_alternatives_ansible-playbook
    command_line    update-alternatives --display ansible-playbook
}
define command {
    command_name    okc-list_alternatives
    command_line    update-alternatives --list
}
define command {
    command_name    okc-list_speedtest_servers
    command_line    speedtest --list
}
define command {
    command_name    okc-check_remote_speedtest
    command_line    $USER1$/check_speedtest-cli.sh -w 10 -c 7 -W 15 -C 10 -l e -s 8640
}
define command {
    command_name    okc-check_gmail_mx
    command_line    $USER1$/check_dig -H 8.8.8.8 -4 -l gmail.com -p 53 -T MX -w 5 -c 10 -t 15
}
define command {
    command_name    okc-check_gmail_smtp
    command_line    $USER1$/check_smtp -H gmail-smtp-in.l.google.com. -p 25 -4 -t 20
}
define command {
    command_name    okc-check_daemontools_service
    command_line    $USER1$/check_service.pl -s '$ARG1$' -w 5 -c 10
}
define command {
    command_name    okc-check_thruk_rest
    command_line    $USER4$ $USER3$/check_thruk_rest "-o" "{STATUS} - {hits}" "{"hits":5}"
}
define command {
    command_name    okc-check_thruk_rest_down_hosts
    command_line    $USER4$ $USER3$/check_thruk_rest -w down:80 -c down:100 /hosts/totals
}
define command {
    command_name    okc-check_borg_version
    command_line    borg --version
}
define command {
    command_name    okc-check_haproxy
    command_line    $USER1$/check_haproxy --socket /var/lib/haproxy/stats
}




{%for lms in local_monitored_services%}
define service {
  service_description            {{lms.service_description}}
  host_name                      localhost
  use                            {{lms.use}}
  check_command                  okc-{{lms.check_command}}!{{lms.check_args|default('')}}
  notifications_enabled          {{lms.notifications_enabled|default('0')}}
}
{%endfor%}

{%for lp in local_processes%}

{%if lp.service is defined %}
define service {
  service_description            {{lp.name}} Service
  host_name                      localhost
  use                            local-service
  check_command                  okc-check_local_systemd_service!{{lp.service}}
  notifications_enabled          0
}
{%endif%}

{%if lp.exec is defined%}
define service {
  service_description            {{lp.service_description|default(lp.name)}} Process
  host_name                      localhost
  use                            local-service
  check_command                  okc-check_procs!-C {{lp.exec}}
  notifications_enabled          0
}
{%endif%}
{%endfor%}
