global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     {{haproxy.maxconn}}
    user        haproxy
    group       haproxy
    daemon

    stats socket {{haproxy.stats.path}}

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option  forwardfor      except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 {{haproxy.maxconn}}

#frontend main 
#    bind*:{{ports.internal.haproxy}}
#    default_backend             ttyd_socket

{%for fe in  haproxy.frontends%}
frontend {{fe.name}}
    bind {{fe.host}}:{{fe.port}}
    default_backend             {{fe.default_backend}}
{%endfor%}

#backend apache
#    server apache 127.0.0.1:{{ports.internal.apache}} check

#backend ttyd_socket
#    server ttyd 127.0.0.1:{{ports.internal.ttyd1_socket}} check

{%for be in  haproxy.backends%}
backend {{be.name}}
 {%for bes in  be.servers%}
    server {{bes.name}} {{bes.host}}:{{bes.port}} check
 {%endfor%}
{%endfor%}

